.social-links {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.social-links-element:not(:last-child) {
  margin-right: 10px;
}
.social-links-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--fill-accent);
  }
}

.social-links-link-footer:hover,
.social-links-link-footer:focus {
  background-color: var(--fill-accent);
}

.social-icon-facebook,
.social-icon-instagram,
.social-icon-twitter,
.social-icon-linkedin {
  fill: var(--social-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-links-link:hover &,
  .social-links-link:focus &,
  .social-links-link-footer:hover &,
  .social-links-link-footer:focus & {
    fill: var(--white);
  }
}
