:root {
  --bgcolor-body: #ffffff;
  --bgcolor-filter-btn: #f5f4fa;
  --bgcolor-order-service-btn: #2196f3;
  --bgcolor-order-service-btn-shadow: rgba(0, 0, 0, 0.15);
  --bgcolor-order-service-btn-hover: #188ce8;
  --bgcolor-filter-btn-active: #2196f3;
  --bgcolor-footer: #2f303a;
  --bgcolor-hero: #2f303a;
  --bgcolor-our-team: #f5f4fa;
  --bgcolor-our-team-member: #ffffff;

  --fontcolor-body: #212121;
  --fontcolor-navigation: #212121;
  --fontcolor-navigation-active: #2196f3;
  --fontcolor-navigation-focus-hover: #2196f3;
  --fontcolor-contacts: #757575;
  --fontcolor-contacts-focus-hover: #2196f3;
  --fontcolor-hero: #ffffff;
  --fontcolor-order-service-btn: #ffffff;
  --fontcolor-filter-btn-active: #ffffff;
  --fontcolor-teammates-positions: #757575;
  --fontcolor-projects-type: #757575;

  --fontcolor-footer: rgba(255, 255, 255, 0.6);
  --fontcolor-footer-links: rgba(255, 255, 255, 0.6);
  --fontcolor-footer-address: #ffffff;

  --bordercolor-project: #eeeeee;
  --bordercolor-header: #ececec;

  --logo-color: #2196f3;
  --logo-black: #212121;
  --logo-white: #ffffff;
  --fill-accent: #2196f3;
  --fill-normal: #757575;
  --border-color: #212121;
  --agreement-link: #188ce8;
  --submit-btn: #188ce8;
  --social-icon: #afb1b8;
  --our-clients: #afb1b8;
  --our-clients-title: #212121;
  --white: #ffffff;
  --feature-element: #f5f4fa;
  --hero-bg: #c4c4c4;

  --font-main: Roboto, sans-serif;
  --font-logo: Raleway, sans-serif;
}
