.contacts-header-element {
  line-height: 1.15;
  font-weight: 500;
  color: var(--fontcolor-contacts);
  font-size: 14px;
}

.page-header {
  border-bottom: 1px solid var(--bordercolor-header);

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin: 0;
  }

  .contacts-header-element {
    margin: 0 30px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .contacts-list-header {
    display: flex;
    margin-left: auto;
  }
}
