.hero {
  padding: 118px 0;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  background: var(--bgcolor-hero);
  background-color: var(--hero-bg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  .hero-title {
    font-size: 26px;
    line-height: 1.61;
    font-weight: 900;
    color: var(--fontcolor-hero);
    /*     width: 360px; */
    margin: 0 auto;
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
      width: 360px;
    }
    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
